@media (max-width: 1440px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  #header {
    background: #ffe6d7;
    background: transparent;
    backdrop-filter: blur(5px);
  }
  .header-nav {
    display: none;
  }
  .card {
    flex-direction: column;
  }
  .catalag {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
  }
  .cards {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .header a {
    display: none;
  }
  .hero {
    flex-direction: column;
  }
  .footer-text {
    flex-direction: column;
  }
  .footer-nav {
    flex-direction: column;
  }
  .footer-nav a {
    margin: 8px 0px;
  }
}
@media (max-width: 992px) {
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
@media (max-width: 768px) {
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
@media (max-width: 576px) {
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  .hero-bg {
    width: 452px;
    height: 128.157px;
  }
  .drone {
    left: 25px;
    bottom: -314px;
    width: 267px;
    height: 128.157px;
  }
  
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
@media (max-width: 541px) {
  .sifre-title {
    flex-direction: column;
  }
  .catalag-text h2 {
    left: 77px;
  }
  
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
}
@media (max-width: 400px) {
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
@media (max-width: 376px) {
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
@media (max-width: 320px) {
  .teg {
    flex-direction: column;
  }
  .hero-text p {
    font-size: 18px;
    width: 281px;
    height: 75px;
  }
  .hero-text button {
    width: 173px;
    height: 50px;
    font-size: 16px;
  }
  .card-title p {
    font-size: 15px;
    width: 244.889px;
    height: 93px;
  }
  .card-t {
    font-size: 15px;
    width: 244.889px;
    height: 93px;
  }
  .catalag-text h1 {
    font-size: 25px;
    width: 276px;
  }
  .catalag-text p {
    font-size: 15px;
    width: 175px;
  }
  .sifre-text p {
    font-size: 16px;
  }
  .sifre h2 {
    width: 289px;
    font-size: 29px;
    padding: 0px 16px;
  }
  .sifre-text h1 {
    width: 112px;
    font-size: 59px;
  }
  .footer-nav a {
    font-size: 22px;
    padding: 10px;
  }
  .footer-nav h5 {
    font-size: 23px;
    font-weight: 700;
    margin: 20px 40px;
  }
  .footer {
    padding: 70px 0px;
  }
  .catalag-left img {
    position: relative;
    width: 471px;
    height: 458px;
  }
  .catalag-text h2 {
    left: 77px;
  }
  .card-title h2 {
    font-size: 17px;
    width: 89.148px;
    margin: 0 0 20px 0;
  }
  .footer-nav h5 {
    font-size: 23px;
    margin: 35px 64px;
  }
  .footer-nav span {
    width: 26px;
    height: 21px;
    padding: 15px 47px;
  }
  .footer-text img {
    width: 249px;
    height: 50px;
    padding: 10px;
  }
  .footer-nav span {
    width: 18px;
    height: 4px;
    padding: 21px 63px;
    font-size: 33px;
  }
  .footer-nav button {
    width: 110px;
    height: 30px;
    font-size: 11px;
  }
  .card-title h4 {
    color: #0c76d8;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
  }

  .card-title span {
    top: 398px;
    font-size: 30px;
  }
  .card-title h4 {
    font-size: 25px;
    padding: 10px;
    text-align: start;
  }
  .teg-text {
    padding: 10px;
    margin: 8px;
  }
  .catalag-icon span {
    position: absolute;
    left: -190px;
  }
}
